<template>
    <div class="container">
        <div v-if="cart.count == 0">
            <p>You have no items in your basket.</p>
            <p><a class="button btn-success float-right" :href="'/' + shopuri">Continue Shopping</a></p>
        </div>
        <div v-else class="content">
            <div class="field is-grouped">
                <div class="control">
                    <a class="button btn-success float-right" :href="'/' + shopuri">Continue Shopping</a>
                </div>
            </div>
            <table class="table table-striped">
                <thead>
                    <th>Product</th>
                    <th><abbr title="Quantity">Qty</abbr></th>
                    <th>Per Item</th>
                    <th></th>
                </thead>
                <tbody>
                        <tr v-for="item in cart.items" :key="'product-' + item.id">
                            <td>{{item.product.title}} {{item.option.label}}</td>
                            <td>{{item.num}}</td>
                            <td>{{item.displayPrice}}</td>
                            <td>
                                <button class="button is-danger" @click="removeFromCart(item)">Remove</button>
                            </td>
                        </tr>
                </tbody>
            </table>
            <p>
                You have {{cart.count}} items in your basket to the total amount of {{cart.display_total}}.
            </p>
            <div class="field is-grouped">
                <div class="control">
                    <a class="button is-success float-right" :href="'/' + shopuri + '/address'">Proceed to checkout</a>
                </div>
                <div class="control">
                    <a @click="clearCart" class="button is-danger" href="#">Clear basket</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script type="text/javascript">
    import { serverBus } from '../event-bus.js'
    export default {
        mounted() {
            this.getCart();
        },

        data(){
            return {
                cart: {
                    count: 0
                },
            }
        },

        props: {
            shopuri: String,
        },

        methods: {
            getCart(){
                window.axios.get('/api/' + this.shopuri + '/cart').then(response => {
                    this.cart = response.data;
                });
            },

            removeFromCart(item){
                window.axios.delete('/api/' + this.shopuri + '/cart/items/' + item.id).then(response => {
                    this.cart = response.data;
                    serverBus.$emit('cart_updated', this.cart);
                });
            },

            clearCart(){
                window.axios.delete('/api/' + this.shopuri + '/cart').then(response => {
                    this.cart = response.data;
                    serverBus.$emit('cart_updated', this.cart);
                });
            }
        }
    }
</script>
